body {
  background-color: LavenderBlush;
  font-family:"OCR A Std",monospace; /*I really like this font but apparently It isn't installed on most computers, */
     }  
input{
       width: auto;
      padding: 15px 30px;
      margin: 8px 0;
      box-sizing: border-box;
}
button
{
  width: auto;
  padding: 10px 20px;
}
